
/*CSS PRINCIPAL DO PROJETO GAMEBOOK*/
/*Aqui contém configurações gerais para todas as páginas 
e configuração para a página home/index */

/*Créditos
Programação: Robert, Ruan, Raquel, Tuts;
Design: Fernandes, Vitória;
Textos: Lone, Ricardo, Paula, Tuts;*/


/*Seletor universal*/
*{
  padding: 0;
  margin: 0; 
  text-decoration: none;
  list-style: none;
}

/*DEFINIÇÕES GERAIS*/
:root{
  --backgroundsite: rgb(27, 23, 50);
  --cabecalhoBG: linear-gradient(180, rgb(34,20,52), rgb(87,	35,	128));
  --corgeral: linear-gradient( rgb(160,	69,	168), rgb(130,	86,	255));
  --rodape: linear-gradient( rgb(139,	110,	187), rgb(126,	85,	193));
  --branco: white;
}

.espacoEntreAreas{
  padding-top: 130px;
}


/*DEFINIÇÃO DE BACKGROUNDS*/
div .card{
  background-color:blueviolet; 
}

footer{
  background-image: linear-gradient( rgb(139,	110,	187), rgb(126,	85,	193));
}
section{
  background-color: rgb(27, 23, 50);
}

/*DEFINIÇÕES DE TIPOGRAFIA*/
p{
  /*1em equivale a 16pixels*/
  font-size: 1em;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-indent: 30px;
  text-align: justify;
}

h1, h2, h3, h4, h5{
  color: white;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
 
}

/*CSS DO CABEÇALHO. Repete em todas as páginas*/

header{
  background-color: var(--backgroundsite);
  height: auto;
  width: 100%;
  border-bottom-color: red;
  }

  
  hr{
    height: 5px;
    color: red;
  }
  
  .cabecalho{
    height: 15vh;
    width: 100%;
  }
  
  .logo{
    position: relative;
    left: 0;
    
  }

  .tamanhologo{
    max-height: 66.5px;
    max-width: 348px;
  }
  /*medidas da logo
  logo normal
  height: 66.5px;
    width: 348px;
    */
  .logoimg{
    height: 100%;
    width: 100%;
  }

  .buscacabecalho{
    width: 40%;
    height: 50%;
  }
  
  .headeruser{
  width: 70px;
  height: 70px;
  }
  .userimg{
    height: 60px;
    width: 60px;
  }
  
  .nav-item a{
    color:white;
    font-size: 120%;
  }
  .nav-link{
    background-image:linear-gradient( rgb(160,	69,	168), rgb(130,	86,	255)); 
    color:white;
  }
  
  .navbar-toggler{
    background-image:linear-gradient( rgb(160,	69,	168), rgb(130,	86,	255)); 
  }
  
  
  .buttonNav{
    align-self:center;
    color: white;
    border-color: transparent;
    background-color: var(--backgroundsite);
    width: 150px;
    height: 50px;
    border-radius: 5px;
    
  }
  
  .buttonNavActual{
    align-self:center;
    color: white;
    border-color: transparent;
    background-color: var(--backgroundsite);
    width: 150px;
    height: 50px;
    border-bottom-color: blueviolet;
    border-width: 5px;
    border-radius: 5px;
  }
  
  .navDiv{
    align-self: center;
    background-color: var(--backgroundsite);
    text-align: center;
  }
  
  
  .buttonNav:hover{
    filter: brightness(150%);
  }
  
  .buttonNavActual:hover{
    filter: brightness(150%);
  }
  
  .linkButtons{
    color: var(--backgroundsite);
    text-decoration: none;
  }
  /*
  @media screen and (max-width:992px){
  .logoimg{
    ima
  }
  
  }*/
  
  @media (orientation: portrait){
    .buscacabecalho{
    display: none;
    }
    .imagemlogin{
      display: none;
    }
  }
  

/*CSS DA BARRA DE PESQUISA*/
.searchForm{
  display: flex;
  width: 100%;
  height: 35px;
  border-radius: 20px;
  background-color: blueviolet;

}

.searchButton{
  border-radius: 20px;
  width: 10%;
  min-width: 30px;
  right: 0;
  border-color: transparent;
  background-color: blueviolet;
  align-items: center;
  text-align: center;
}

.searchInput{
  border-color: transparent;
  width: 85%;
  background-color: blueviolet;
  color: white;
  outline: transparent;
}

.searchInput:focus{
  .searchForm{
    outline: white;
    border-color: white;
  }
}

.searchInput::placeholder{
  color: white;
}

.searchIcon{
  width: 25px;
}

.ocupaEspaço{
  width: 10%
}

/*FIM DA ÁREA CABEÇALHO*/

/*COMEÇO DO BREADCRUMBS*/
.divSeparacao{
  height: 2px;
  background-color: gray;
  top: 0;
}

/*INICIO DA ÁREA NOTÍCIAS DA SEMANA HOME*/
.noticiasbannerhome{
 text-decoration: none;
 font-size: larger;
}
.itensdobanner p{
  padding: 15px;
  text-align: center;
}
.bannernoticias{
  height: 15rem;
  width: 30rem;
}
/*FIM DA ÁREA NOTÍCIAS DA SEMANA HOME*/




/*INICIO DA ÁREA ARTIGOS HOME*/
.homeartigos{
  height: 700px;

}
.imgobra{
  height: 80%;
  width: 60%;
}


/*FIM DA ÁREA ARTIGOS HOME*/

/*INICIO DA ÁREA RODAPÉ (que se repete em todas as páginas)*/

.listarodape a{
  text-decoration: none;
  color:white;
}
/*FIM DA ÁREA RODAPÉ*/

/*FIM CSS DO HOME*/















