/*INICIO DO CSS DA PÁGINA NOTÍCIAS*/

.btn a{
  color: white;
  text-decoration: none;
}
.btn a:hover{
  color:aquamarine;
}
.card a{
  color: #9da18f;
}
.card a:hover{
  color: white;
}
.artigos{
  height: auto;
}

.tamanhoCarrousel{
height: 500px;
}


.buttonNavTopics{
  align-self:center;
  color: white;
  border-color: transparent;
  background-color: blueviolet;
  width: 30%;
  max-width: 150px;
  min-width: 30px;
  height: 50px;
  border-radius: 5px;
  margin: 5px;
}
/*FIM DO CSS DA PÁGINA NOTÍCIAS*/





/*Comentários*/

.comentarios{
  background-color:blueviolet;
  border-radius: 30px;
  color:white;
}
 .bota button{
  background-color: #6610f2;
  color: white;
 }

/*FIM DOS COMENTÁRIOS*/